.card-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.card {
  padding: 40px;
  width: 350px;
  background-color: aliceblue;
}

.form-field {
  margin-bottom: 5px;
  width: 100%;
}
