.card-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.card {
  padding: 40px;
  min-width: 50%;
  background-color: aliceblue;
}

table {
  width: 100%;
}
